.cookie-popup{
    position: fixed;
    right: 5px;
    top: 5px;
    margin-right: auto;
    width: 300px;
    height: 120px;
    padding: 10px;
    border: 2px black solid;
    background-color:beige;
}

.number-phone-form{
    margin: 10px;
}

.close-btn, .access-btn{
    cursor: pointer;
}

.buttons{
    margin-top: 10px;
}

input{
    border: solid 1px black;
}

button{
    margin-top: 10px;
    padding: 5px 15px;
}

@font-face {
    font-family: "Averta"; 
    src: url("fonts/AvertaCYBold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: bold; 
  } 
@font-face {
    font-family: "Averta"; 
    src: url("fonts/AvertaCYRegular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
  } 

html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Averta';
    font-style: normal; 
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #2E2E2E;
}

.wrapper{
    max-width: 1240px;
    margin: 0 auto;
}

.wrapper-content{
    flex-wrap: wrap;
}

.logo-text{
    font-family: 'Averta';
    font-size: 40px;
    line-height: 52px;
    font-weight: bold;
    max-width: 600px;
    max-height: 52px;
    margin-bottom: 40px;
}

.benefit-list{
    min-width: 1240px;
    min-height: 618px;
}

.benefit{
    padding: 30px 20px;
    min-width: 295px;
    min-height: 289px;
    background-color: #F9F9F9;
    border-radius: 4px;
}

.benefit-img{
    max-width: 60px;
    max-height: 60px;
}

.benefit-desc{
    font-family: 'Averta';
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    max-width: 247px;
    max-height: 60px;
}

.benefit-opis{
    font-family: 'Averta';
    font-size: 16px;
    line-height: 20.8px;
    max-width: 34px;
    max-height: 21px;
}